<div class="dashboard-container">

  <h1 id="dashboard-heading">Dashboard</h1>


  <div class="search-form" width="cover">
    <%= simple_form_for :search, url: results_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :title, input_html: {value: ""}%>
      <%= f.submit "Search", class:"btn btn-primary", id: "btn-custom" %>
    <% end %>
  </div>



    <table class="dashboard-table">
      <tr>
        <th>COVER</th>
        <th>Artist</th>
        <th>TITLE</th>
        <th>LABEL</th>
        <th>RELEASED</th>
        <th>TAGS</th>
      </tr>
      <% @releases.each do |release| %>
      <tr>
        <td><img src='<%= release.cover_url  %>' alt="" class="cover_img"></td>
        <td><%= release.artist %></td>
        <td><%= link_to release.title, release_path(release.id) %></td>
        <td><%= release.label %></td>
        <td><%= release.released %></td>
        <td><div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          TAGS
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">I like</a></li>
          <li><a class="dropdown-item" href="#">Listen again</a></li>
          <li><a class="dropdown-item" href="#">I dont like</a></li>
        </ul>
      </div></td>

        </tr>
      <% end %>



    </table>






</div>
