<div class="container mb-5">

  <%= link_to "Back to Dashboard", :back, class: "btn btn-primary my-3" %>

  <div class="d-flex justify-content-center m-3">
    <h1>Here is what we found:</h1>
  </div>

  <div class="results-cover-info">
    <div class="m-3">
      <img src="<%= @cover_image %>" alt="release image">
    </div>

    <div>
      <div class="m-3">
        <h2><%= @release.artists[0].name %> - <%= @release.title %></h2>
        <p>Label: <%= @release.labels.first.name %> - <%= @release.labels.first.catno %></p>
        <p>Format: <%= @release.formats.first.name %> - <%= @release.formats.first.descriptions %></p>
        <p> Released: <%= @release.released %></p>
        <p>Styles: <%= @release.styles %></p>
      </div>

      <div class="m-3">
        <p><strong>Tracklist:</strong></p>
        <% @release.tracklist.each_with_index do |track, index| %>
            <small><%= index + 1 %>. <%= track.title %></small>
            <br>
        <% end %>
      </div>

      <%= link_to "Save to Spotlight List", dashboard_path, class: "btn btn-primary my-3" %>
    </div>

  </div>



</div>
