<div class="container-edit", style="cover">
  <div class="row justify-content-center">
    <div class="col-8 mb-3">
      <h1 class="edit-title">Edit</h1>
      <%= link_to "Back to the list", :back, class: "btn_main"%>
      <%= simple_form_for [@list, @release], html: {id: "form-design"} do |f| %>
        <%= f.input :artist%>
        <%= f.input :title %>
        <%= f.input :label %>
        <%= f.input :catalog_number %>
        <%= f.input :format %>
        <%= f.input :released %>
        <%= f.input :styles %>
        <%= f.input :link, placeholder: "Paste here only the src link from bandcamp embedded player"%>
        <%= f.input :cover_url %>
        <%= f.input :comment %>
        <%= f.input :photo, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
