<div class="content-container">

  <div class="button-nav">
    <%= link_to "Dashboard", dashboard_path, class:"btn btn-primary", id: "btn-custom" %>
    <%= link_to "Edit this release", edit_release_path(@release), class:"btn btn-primary", id: "btn-custom" %>
    <%# <%= link_to "Back to " + @list.title , list_releases_path(@list), class:"btn btn-primary", id: "btn-custom" %>
    <%= link_to "Delete this release", release_path(@release), class:"btn btn-primary", id: "btn-custom", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  </div>

  <div class="info-container">
    <%= cl_image_tag @release.cover_url, class: "cover-bg" %>
    <div class="info-card">
      <h2><%= @release.artist %> - <%= @release.title %></h2>
      <p><strong>Label: </strong><%= @release.label %> - <%= @release.catalog_number %></p>
      <p><strong>Format: </strong><%= @release.format %></p>
      <p><strong>Released: </strong><%= @release.released.strftime("%-d %b %Y") %></p>
      <% @style_array =  @release.styles.gsub(/[^0-9a-z ]/i, '').split %>
      <p><strong>Styles: </strong><%= @style_array.join(", ") %></p>

      <%=image_tag "underline.png", width: "200px", class:"underline" %>

      <p><strong>Tracklist:</strong></p>

      <% @tracklist.each do |track| %>
        <small><%= track.position %> <%= track.title %>
        <%= form_with model: track, url: track_path(track), method: :patch do |f| %>
          <% if track.favorite? %>
            <%= f.button nil do %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          <% else %>
            <%= f.button nil do %>
              <i class="fa-regular fa-heart"></i>
            <% end %>
          <% end %>
        <% end %>
        </small>
      <% end %>

      <p><strong>Your comment: </strong><%= @release.comment %></p>

      <div>
        <iframe style="border: 0; width: 100%; height: 120px;" src="<%= @release.link %>" seamless></iframe>
      </div>

    </div>
  </div>

  <%= link_to "Delete this release",
    release_path(@release),
    class:"btn btn-primary",
    id: "btn-custom",
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

</div>

<div class="background-blur-img"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @release.cover_url %>')">
</div>
