<div class="content-container-show">

  <div id="show-info-container">
    <%= cl_image_tag @release.cover_url, class: "cover-bg" %>
    <div class="info-card">
      <h2><%= @release.artist %> - <%= @release.title %></h2>
      <small id="what-list">now in <em><%= @list.title %></em> list</small>
      <p><strong>Label: </strong><%= @release.label %> - <%= @release.catalog_number %></p>
      <p><strong>Format: </strong><%= @release.format %></p>
      <p><strong>Released: </strong><%= @release.released.strftime("%-d %b %Y") %></p>
      <% @style_array =  @release.styles.gsub(/[^0-9a-z ]/i, '').split %>
      <p><strong>Styles: </strong><%= @style_array.join(", ") %></p>

      <p><strong>Tracklist:</strong></p>

      <div data-controller="insert-in-tracklist">
        <%= render "shared/tracklist", tracklist: @tracklist %>
      </div>

      <div>
        <iframe style="border: 0; width: 100%; height: 120px;" src="<%= @release.link %>" seamless></iframe>
      </div>

      <div class="button-nav">
        <%= link_to "Edit this release", edit_release_path(@release), class:"btn-rest", id: "btn-custom" %>
        <%= link_to "Back to " + @list.title , list_releases_path(@list), class:"btn-rest", id: "btn-custom" %>
        <%= link_to "Delete this release", release_path(@release), class:"btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      </div>

      <p><strong>Your comment: </strong><%= @release.comment %></p>

    </div>
  </div>

</div>

<div class="background-blur-img"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @release.cover_url %>')">
</div>
